{% extends 'base.html.twig' %}

{% block title %}Alper Anapalı - CV{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Alper Anapalı</h1>
        <h3 class="text-center">Software Engineer</h3>

        <section class="mt-5">
            <h4>Professional Summary</h4>
            <p>I define myself as a very creative person, a team player and open-minded.</p>
        </section>

        <section class="mt-5">
            <h4>Contact</h4>
            <address>
                <strong>Address:</strong> Istanbul<br>
                <strong>Phone:</strong> <br>
                <strong>Email:</strong> anapalialper@gmail.com
            </address>
        </section>

        <section class="mt-5">
            <h4>Work History</h4>
            <ul>
                <li>2020-08 - Current: Mid Software Developer at Ideasoft Software, Istanbul</li>
                <!-- Add other roles here -->
            </ul>
        </section>

        <section class="mt-5">
            <h4>Skills</h4>
            <ul>
                <li>PHP</li>
                <li>Symfony</li>
                <!-- Add other skills here -->
            </ul>
        </section>

        <section class="mt-5">
            <h4>Languages</h4>
            <ul>
                <li>English: Excellent</li>
                <li>German: Average</li>
                <!-- Add other languages here -->
            </ul>
        </section>

        <section class="mt-5">
            <h4>Education</h4>
            <ul>
                <li>2011-06 - 2019-06: Bachelor of Science: Physics Engineering, Istanbul Technical University - Istanbul</li>
                <!-- Add other education entries here -->
            </ul>
        </section>
    </div>

{% endblock %}
